@use "../../../main-style/style.scss";

:root {
    --clr-background: whitesmoke;
    --clr-main: rgb(19, 0, 128);
    --circle-max: 95%;
    --circle-min: 5%;
  }
  
  
  .spinner-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-background);
  }
  
  .spinner-container .spinner {
    height: 100px;
    width: 100px;
    background-color: var(--clr-main);
    border-radius: 50%;
    position: relative;
    transform: rotate(90deg);
  }
  
  .spinner-container .spinner::before,
  .spinner-container .spinner::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--clr-background);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .spinner-container .spinner::before {
    height: calc(var(--circle-max) + 3px);
    width: calc(var(--circle-max) + 3px);
    left: -2px;
    animation: animateBall 1s infinite ease-in-out alternate;
  }
  
  .spinner-container .spinner::after {
    height: calc(var(--circle-min) + 3px);
    width: calc(var(--circle-min) + 3px);
    right: -2px;
    animation: animateBall 1s infinite ease-in-out alternate-reverse;
  }
  
  @keyframes animateBall {
    from { height: calc(var(--circle-max) + 3px); width: calc(var(--circle-max) + 3px); }
    to {height: calc(var(--circle-min) + 3px); width: calc(var(--circle-min) + 3px); }
  }