@use "../../../main-style/style.scss";
.tradein-container{
    .first-section {
        display: flex; justify-content: space-around; align-items: center;
        flex-wrap: wrap; color: style.$font; padding: 50px;
        .text-area {
            margin-bottom: 50px;
            li{
                padding: 5px 0px; font-size: 1.5em;
            }
           
        }
        img {
             width: 400px; height: 350px;
        }
    }

}