@use "../../../../main-style/style.scss";
.finans-option {
    margin: 50px; position: relative; z-index: 100; overflow: hidden; border-radius: 10px;
    h1 {
        font-size: 1.6em;  text-align: center; margin-left: auto; margin-right: auto;
         color: white; margin: 30px;
    }
    .item-container {
        display: flex; justify-content: center; gap: 10px; padding: 40px 60px;
        flex-wrap: wrap;
        li {
            background-color: white; border-radius: 10px; max-width: 400px;
        }
        img {
            height: 200px; width: 70%; display: block; margin-left: auto; margin-right: auto;
        }
        p {
        color: style.$font; margin-top: 10px; text-align: center;
        }
    }
    &::before{
        content: "";
        background-color: style.$font; width: 110%; height: 100%;
        position: absolute; left: -5%; top: -40%;z-index: -1;
        border-radius: 30%;

    }
}
.select-ioffers {
    background-color: style.$font; display: block; margin-left: auto; margin-right: auto;
    margin-bottom: 50px;  padding: 10px 30px; color: white; font-weight: 100;  text-transform: capitalize;
    border-radius: 5px;border: 1px  solid rgba(192, 192, 192, 0); cursor: pointer;
}

@media screen and (max-width:1000px) {
    .finans-option{
        .item-container{
            padding: 40px 40px;
            li {
                max-width: 350px;
            }
        } 
        &::before {
            content: "";
            left: 0; top: 0; border-radius: 0;
        }
       
    }
    
}
@media screen and (max-width:700px) {
    .finans-option{
        .item-container{
            padding: 40px 40px;
            li {
                max-width: 350px;
            }
        } 
        &::before {
            content: "";
            left: 0; top: 0; border-radius: 0;
        }
       
    }
    
}